@import "./character.css";
@import "./characters.css";
@import "./comics.css";
@import "./favorites.css";
@import "./footer.css";
@import "./header.css";
@import "./home.css";
@import "./login.css";
@import "./signup.css";

* {
  font-family: Roboto, sans-serif !important;
}

body {
  background-color: black; /* Blanc semi-transparent */
  color: white;
}
