.character-container {
  width: 1220px;
  margin: 0 auto;
}

.character-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px 0;
}

.character-content p {
  font-size: 24px;
}

.comics-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.comic-content {
  height: 450px;
  width: 280px;
  border: solid 1px #ee161e;
  border-radius: 7px;
  background-color: #ee161e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.character-content .comic-content p {
  overflow: hidden;
}

.character-content .comic-content img {
  height: 324px;
  width: 216px;
  object-fit: contain;
  border-radius: 5px;
}

.comics-list .comic-infos:hover {
  cursor: default;
}

.character-content .character-card:hover {
  cursor: default;
}
