.comics-container {
  width: 1220px;
  margin: 0 auto;
}

.comics-searchbar {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comics-searchbar svg {
  width: 25px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
  backdrop-filter: blur(5px);
}

.comics-searchbar input {
  width: 70%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
  backdrop-filter: blur(5px);
}

::placeholder {
  color: white;
  font-size: 16px;
}

.comics-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 30px 0;
}

.comics-pagination button {
  border: none;
  padding: 3px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.comics-pagination button:not(:disabled):hover {
  font-weight: bold;
  color: #ee161e;
  font-size: 18px;
}

.comics-pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}

.comics-pagination .active {
  font-weight: bold;
  color: #ee161e;
  font-size: 18px;
}

.comics-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.comic-card {
  height: 450px;
  width: 280px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comic-card:hover {
  transform: translateY(-10px); /* Légère élévation vers le haut */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.comic-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.comic-card img:hover {
  opacity: 0.4;
}

.character-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; /* L'étoile reste par-dessus l'image */
}

.favorite-icon-comic {
  color: rgb(237, 21, 31);
  font-size: 28px;
}

.comic-infos {
  position: absolute;
  bottom: 0; /* Placé en bas de la carte */
  left: 0;
  right: 0;
  height: 30%; /* Hauteur de la zone floutée */
  background-color: rgb(237, 21, 31, 0.3); /* Fond semi-transparent */
  backdrop-filter: blur(2px); /* Effet de flou uniquement en bas */
  z-index: 2; /* Au-dessus de l'image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px; /* Arrondi en bas */
  margin: 5px;
}

.comic-infos h2,
.comic-infos p {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.comic-infos h2 {
  font-size: 18px;
  font-weight: bold;
}

.comic-infos p {
  font-size: 14px;
  margin-top: 5px;
  overflow: scroll;
}

.comic-infos p::-webkit-scrollbar {
  display: none; /* Masque la barre de défilement dans Chrome, Edge et Safari */
}

.favorite-icon-comic:hover {
  cursor: pointer;
}
